.listItems {
  list-style-type: none;
  max-height: 250px;
  overflow: scroll;
}

.totalPrice {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.totalPrice span:nth-child(1) {
  font-size: 1.4rem;
  letter-spacing: 0.8px;
  font-family: "Roboto";
}
.totalPrice span:nth-child(2) {
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 1.3px;
}
.buttons {
  float: right;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 20px;
}
.clsBtn {
  cursor: pointer;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding: 8px 13px;
  border-color: brown;
  background-color: transparent;
  border-radius: 30px;
  font-size: 1rem;
}
.clsBtn:hover {
  background-color: brown;
  color: white;
}
.ordBtn {
  cursor: pointer;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding: 8px 13px;
  border-color: brown;
  background-color: transparent;
  border-radius: 30px;
  font-size: 1rem;
}
.ordBtn:hover {
  background-color: brown;
  color: white;
}
.successText {
  margin-left: 20px;
  font-weight: bold;
  letter-spacing: 0.7px;
}
