@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Kanit:wght@200&family=Lato:wght@300&family=Manrope&family=Poppins:ital,wght@0,200;1,300&family=Raleway:ital,wght@1,200&family=Roboto:wght@300&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.admin-header {
  position: absolute;
  z-index: 1000;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgb(233, 171, 95);
  z-index: 100;
  padding: 30px 0;
  display: flex;
  justify-content: space-evenly;

  align-items: center;
}
.logoutAdminButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
}
.logoutAdminButton:hover {
  background-color: bisque;
  color: black;
  transition: all 0.2s ease;
}
.not-found {
  position: relative;

  height: 100vh;
  color: white;
  padding: 10px 20px;

  text-align: center;
  border-radius: 5px;
}
.not-found img {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
}
.not-found span {
  position: absolute;
  top: 80%;
  left: 50%;
  color: black;
  transform: translate(-50%, -50%);
  font-family: "Lato";
  font-weight: 600;
}
.not-found a {
  font-family: "Lato";
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: rgb(253, 240, 215);
  background-color: rgb(145, 103, 51);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}
.not-found a:hover {
  opacity: 0.7;
}
.not-found-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: bisque;
  border-radius: 20px;
}
.snackbar {
  visibility: hidden;
  min-width: 250px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  background-color: brown;
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}
.snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.snackbar.hide {
  visibility: hidden;
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
