.button {
  cursor: pointer;
  padding: 15px 20px;
  margin-right: 20px;
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  border-radius: 7px;
  background-color: rgb(233, 171, 95);
}
.icon {
  font-size: 1.2rem;
  color: rgb(4, 121, 4);
}
.addText {
  color: white;
  font-size: 1.1rem;
}
.button:hover {
  background-color: rgb(253, 212, 161);
}
.button:focus {
  outline: none;
}
